@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    color:#1A1A1A;
    margin: 0;
    padding: 0;
}


h1,h2, h3{
    font-family: 'Playfair Display', serif;
}


/* MENU */

 #burger{
	display: none;
} 

.navigationBg{
	display:none;
}

.navigationIcon{
	display: none;
}


header{
    background-image:url("img/bgLampadaire.png");
    height: 100vh;
    background-color:transparent;
    background-size:cover;
    background-repeat: no-repeat;
    padding:0 5%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 25px; 
}

.logoNorthern img{
    width: 170px;
}

.logoNorthern img:hover{
    opacity: 0.8;
    transition: 0.5s;
	
}

.navbar{
    display: flex;
}

.menu{
    display: flex;
    height: 100%;
    align-content: center;
}

.menu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu li:last-child{
    padding: 0px;  
}
.menu li:first-child{
    padding: 0px;  
}

.menu li a{
    color:white;
    font-size: 18px;
    padding:15px 20px;
    transition: 0.5s;
}

.menu li a:hover{
  background-color: #D72424;
}


/* H1 */

.affichageAccueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:75vh;
    justify-content: center;
}

.titreH1{
    flex: 1;
    display: flex; 
	flex-direction : column;
	justify-content:center;
	align-items : center;
	
}

.affichageAccueil h1{
    color: white;
    font-size: 70px;
	font-weight: 300;
}


.decouvrezNosCours{
    padding: 13px 60px;
    border-radius: 50px;
    background-color: #D72424;
    border: none;
	transition : 0.3s;
	margin-top: 60px;
}

.decouvrezNosCours:hover{
    background-color: #7D1515;
}

.decouvrezNosCours {
    font-size:25px;
    color: white;
}

.sourie{
    width:25px;
	position: relative;
	animation:2s infinite alternate mouse;
}


@keyframes mouse{
	from{
		bottom : 0;
	}
	to{
		bottom:25px;
	}
}


/*MAIN*/

.description{
	max-width: 800px;
	text-align: center;
}

/* NOS VALEURS */


.nosValeurs{
	padding:10% 5%; 
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	text-align: center;
}

h2{
	color: #D72424;
	font-size: 58px;
}

p{
	font-size: 23px;
	text-align: left;
}

.nosValeurs p{
	margin-top:60px;
}


/* NOS COURS */

.nosCours{
	background-color: #EFEFEF;
	display: flex;
	flex-direction:column;
	align-items:center;
	padding: 10% 5%;
}

.containerCard{
	display:grid;
	grid-template:1fr/repeat(3,1fr);
	column-gap: 25px;
	margin-top: 60px;
	max-width:1200px ;
}

.cardNosCours{
	background-color: white;
	display: grid;
	grid-template:auto auto auto auto auto/auto;
	row-gap:15px; 
	padding: 18px;
	border-radius: 40px;
	box-shadow: 0px 4px 16px rgba(26, 26, 26, 0.16);
}

h3{
	text-align: center;
}


.cardNosCours h3{
	font-size:28px ;
	color: #D72424;
}

.descriptionCours{
	font-size: 16px;
}

.buttonCard{
	font-size: 18px;
	color: white;
	background-color:#D72424 ;
	border-radius: 50px;
	border: none;
	transition : 0.3s;
	padding: 10px 0;
	font-weight: 600;
	width: 100%;
	cursor: pointer;
}

.buttonCard a{
	color: white;
}

.buttonCard:hover{
	background-color: #7D1515;
}

.imageCardUn{
	background-image:url("img/bandeDessinée.png");
	height:220px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 30px;
}

.imageCardDeux{
	background-image:url("img/illustration.png");
	height:220px;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
}

.imageCardTrois{
	background-image:url("img/modeleVivant.png");
	height:220px;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
}

/* NOS ENSEIGNANTS */

.nosEnseignants{	
	display: flex;
	flex-direction:column;
	align-items:center;
	padding: 10% 5% 10% 5%;
}
@media screen and (max-width: 1300px){
	.nosEnseignants{
		padding:10% 8% 15% 8% ;
	}
}
@media screen and (max-width: 850px){
	.nosEnseignants{
		padding:10% 8% 20% 8% ;
	}
}


.nosEnseignantsDeux{	
	display: flex;
	flex-direction:column;
	align-items:center;
	background-color: #EFEFEF;
	padding: 0 5%;
	padding: 0 10%;
}

.containerEnseignants{
	display:grid;
	grid-template:1fr/repeat(3,1fr);
	column-gap: 25px;
	max-width:1200px;
	position: relative;
	bottom: 130px;
}

.enseignantsCards{
	display: grid;
	grid-template:auto /auto;
	row-gap:25px; 
	border-radius: 30px;
}

.enseignantsCards img{
	width: 160px;
	height: auto;
}

.enseignantsAlignement{
	display: flex;
	flex-direction: column;
	align-items: center;
}



.descriptionEnseignants{
	display: grid;
	grid-template:auto /auto;
	row-gap:15px; 
	background-color: white;
	padding: 18px;
	border-radius: 40px;
	box-shadow: 0px 4px 16px rgba(26, 26, 26, 0.16);
	
}

h3{
	font-size: 28px;
	color: #D72424;
}

.nosEnseignants .description{
    padding: 50px 0;
}

.titre{
	text-align: center;
}

.nosEnseignantsDeux h2{
	margin-bottom: 80px;
}


/* NOS TARIFS */

.nosTarifs{
	margin: 80px 0 160px 0;
}

.containerNosTarifs{
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 25px;
	max-width: 900px;
	padding: 0 5%;
}

.nosTarifsCards{
	box-shadow: 0px 4px 16px rgba(26, 26, 26, 0.16);
	border-radius: 50px;
}

.nosTarifsCardsDeux .nomForfaitTarifs{
	background-color: #D72424;
	color: white;
}

.nosTarifsCardsDeux .nomForfaitTarifs h4{
	color: white;
}

.nosTarifsCardsDeux .nomForfaitTarifs p{
	color: white;
}


.nosTarifsCards h4{
	font-size: 22px;
	margin-bottom: 5px;
}

.nosTarifsCards p{
	font-size: 16px;	
}

.nomForfaitTarifs{
	background-color: #FFE4E4;
	padding: 20px 0;
	border-radius: 40px 40px 0 0;
}

.basCards{
	padding: 20px;
	border-radius: 0 0 40px 40px;
}

.nomForfaitTarifs > p,h4 {
	text-align: center;
}

.descriptionTarifs{
	display: grid;
	row-gap: 15px;
}

.iconesTarifs{
	display: flex;
	align-items:center;
}
.iconesTarifs p{
	margin-left: 10px;
}

.material-symbols-outlined{
	color: #1a1a1aad;
}

.prixTarifs > p {
	text-align: center;
}
.traitTarifs{
	background-color:#1a1a1aad;
	height: 1px;
	
}

.prixTarifs p:first-child{
	color: #D72424;
	font-size: 50px;
}

.prixTarifs p:last-child{
	font-weight: 500;
	margin-bottom: 15px;
}

/*CONTACT*/

.contactezNous{
	margin-bottom: 160px;
}

.containerContact{
	display: flex;
	flex-direction:column;
	margin: auto;
	padding: 0 5%;
	max-width: 940px;
}

.containerContact h2{
	text-align: center;
	margin-bottom: 80px;
}



.crayonsFlex{
	display: flex;
	justify-content :space-between;
}

.crayonsFlex img{
	height: 600px;
	width: auto;
}

.formulaire {
	flex:1;
	display: flex;
	flex-direction:column;
	justify-content:center;
	margin: 0 20px;
}


.formulaire input{
	color: rgba(26, 26, 26);
	font-size: 24px;
	text-align: center;
	width: 100%;
	height: 40px;
	padding-left:10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	outline: none;
	border: #D72424 solid 2px;
	border-radius: 35px;
}

.formulaire textarea{
	width:100%;
	height: 230px;
	font-size: 24px;
	padding:10px 30px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: #D72424 solid 2px;
	border-radius: 35px;
	outline: none;
	resize: none;
}

.nomPrenom{
	display: flex;
	outline: none;
	border: none;	
}

.nomPrenom p{
	flex:1;
}

.nomPrenom p:first-child{
	margin-right: 5px;
}

.nomPrenom p:last-child{
	margin-left: 5px;
}

input.boutonEnvoyer{
	background-color:#D72424;
	border: none;
	outline: none;
	cursor: pointer;
}
.boutonEnvoyer:hover{
	background-color:#7D1515;
	border: none;
	outline: none;
}
.boutonE input{
	color: white;
	font-weight: 400;
	padding:0 60px;
}

p.boutonE{
	align-self: flex-start;
}

/*FOOTER*/

footer{
	padding:40px 5%;
	background-color:#EFEFEF;
}

.adresseFooter, .horaireFooter, .planFooter{
	margin-right: 15px;
}

footer p{
	font-size: 16px;
}

footer h4{
	text-align: left;
	margin-bottom: 15px;
}

.sectionUnFooter{
	display: flex;
	justify-content:space-between;
	align-items:start;
	margin-bottom: 20px;	
}

.sectionDeuxFooter{
	display: flex;
	align-items:center;
}

.fa-brands{
	font-size: 35px;
	transition: transform 0.5s;
}

.fa-brands:hover{
	color:#D72424;
	transform: scale(1.3);
	
}

.fa-instagram{
	padding-right:10px;
}

.adresseFooter p:last-child {
	margin-top:8px;
	text-decoration: underline;
}

.adresseFooter p a:last-child:hover{
	color:#D72424;
} 

.planFooter a:hover{
	color: #D72424;
}
 
.sectionDeuxFooter a:hover {
	color:#D72424;
}

.sectionDeuxFooter img,
.sectionDeuxFooter p{
	margin-right: 25px;
}



/* RESPONSIVE TABLETTE*/

@media screen and (min-width:520px) and (max-width:1060px) {
	
	.titreH1 h1{
		font-size:48px;
	}

	h2{
		font-size: 32px;
	}

	h3{
		font-size: 23px;
	}
	.cardNosCours h3{
	font-size: 23px;
}
	p{
		font-size: 18px;
	}

	.nosValeurs{
		max-width: 650px;
		margin:auto;
	}

	.decouvrezNosCours {
		font-size: 18px;
		color: white;
		cursor: pointer;
	}

	.descriptionCours{
		font-size: 14px;
	}
	.nosEnseignants{
		padding-bottom:25%;
	}
	.nosEnseignantsDeux{
		background-color: white;
	}

	
	.containerEnseignants{
		grid-template: repeat(3,1fr)/1fr;
		row-gap: 5%;
		bottom:178px;
	}

	.enseignantsCards{
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.enseignantsCards img{
		margin-right: 5%;
	}





	/* BURGER TABLETTE */
	nav{
		flex-wrap: wrap;
		align-items: center;
	}

	.navigationIcon{
		height:2px;
		width: 23px;
		background-color: white;
		display: block;
		transition: transform 0.5s, background-color 0.3s;
	}

	.navigationIcon:first-child{
		margin-bottom: 5px;
	}
	.navigationIcon:last-child{
		margin-top: 5px;
	}

	.menu-icon{
		cursor: pointer;
		margin-top:3px
	}


    .navbar{
		
		overflow: hidden;
		max-height: 0;
		width: 100%;
		background-color: #0c0c0c;
		flex-direction: column;
		margin-top:8px;
	}

	.navbar ul{
		flex-direction: column;
		text-align: center;
		padding: 15px 0;
		
	}

	.menu{
		flex-wrap: nowrap;
	}

	.menu li a{
		font-size: 18px;
	}
	
	#burger:checked~.navbar {
	max-height: 300px;
	
	}

	#burger:checked~.menu-icon .navigationIcon:first-child {
	transform: rotate(45deg);
	margin: 0;
	position: relative;
	top:2px;	
	
	}

	#burger:checked~.menu-icon .navigationIcon:last-child {
	transform: rotate(-45deg);
	margin:0;
	position: relative;
	top:-2px;
	
	}

	#burger:checked~.menu-icon .navigationIcon:nth-child(2) {
	background-color: transparent;
	}

	.contactezNous{
		margin-bottom: 80px;
	}
	.contactezNous h2{
		margin-bottom: 40px;
	}

	.crayonsFlex{
		flex-direction: column;
		align-items: center;
	}
	.crayonsFlex img{
		display: none;
	}

	.formulaire{
		margin: 0;
		width: 100%;
		padding: px 0;
	}





	.formulaire input{
		font-size: 16px;
	}
	.formulaire textarea {
		font-size: 16px;
	}
	fieldset{
		flex-direction: column;
	}

	.nomPrenom p:last-child{
		margin: 0;
	}

	.boutonE{
		width: 100%;
	}
	
}

/* TABLETTE RESPONSIVE CARD */

@media screen and (min-width:520px) and (max-width:900px){
	.containerCard{
		grid-template: repeat(3,1fr)/1fr;
		row-gap: 35px;
	}

	.containerNosTarifs{
		grid-template-columns: 1fr;
		row-gap: 35px;
	}

}







/* RESPONSIVE PHONE*/

@media screen and (max-width: 520px){
	
	.affichageAccueil{
		height: auto;
		padding-top:80px;
		padding-bottom: 120px;
	}
	
	.affichageAccueil h1{
		font-size: 32px;
	}

	h2{
		font-size: 26px;
	}
	
	.cardNosCours h3{
		font-size: 20px;
	}

	p{
		font-size: 16px;
	}
	
	nav{
		flex-wrap: wrap;
		
	}

	.logoNorthern img{
		width: 90px;
	}


	.menu{
		flex-wrap: wrap;
	}

	.menu li a{
		font-size: 14px;
	}

 header{
		height:auto;
	} 

	.titreH1{
		width: 100%;
	}

	a.decouvrez{
		width: 100%;
	}
	
	.decouvrezNosCours a{
		margin-top:38px;
		padding:13px 0 13px 0; 
		width: 100%;

	}

	.decouvrezNosCours {
		font-size: 16px;
		width: 100%;
	}

	.souriePicto{
		display: none;
	}

	.nosValeurs{
		padding: 10% 5%;
	}

	.nosValeurs p{
		margin-top: 38px;
	}

	.nosCours{
		padding: 10% 5%;
	}

	.containerCard{
		grid-template: repeat(3,1fr)/1fr;
		gap: 15px 0px;
		margin-top: 38px;
	}

	.descriptionCours{
		font-size: 12px;
	}

	.buttonCard{
		font-size: 12px;
	}

	.containerEnseignants{
		grid-template: repeat(3,1fr)/1fr;
		gap: 60px 0;
		bottom: 98px;
	}

	.nosEnseignantsDeux h2{
		margin-bottom: 30px;
	}

	.enseignantsCards{
		row-gap: 10px;
	}
	.enseignantsCards img{
		width: 120px;
	}

	.nosTarifs{
		margin: 30px 0 80px 0;
	}

	.containerNosTarifs{
		grid-template: repeat(3,1fr)/1fr;
		gap: 60px 0;
		max-width: 300px;	
	}

	.contactezNous{
		margin-bottom: 80px;
	}
	.contactezNous h2{
		margin-bottom: 40px;
	}

	.crayonsFlex{
		flex-direction: column;
		align-items: center;
	}
	.crayonsFlex img{
		display: none;
	}

	.formulaire{
		margin: 0;
		width: 100%;
		padding: px 0;
	}





	.formulaire input{
		font-size: 16px;
	}
	.formulaire textarea {
		font-size: 16px;
	}
	fieldset{
		flex-direction: column;
	}

	.nomPrenom p:last-child{
		margin: 0;
	}

	.boutonE{
		width: 100%;
	}

	.sectionUnFooter p, .sectionDeuxFooter p{
		font-size: 12px;
	}
	.sectionUnFooter{
		flex-direction: column;
	}
	footer h4{
		margin-top: 30px;
	}

	.sectionDeuxFooter img{
		height: auto;
		width: 100px;
	}

	.sectionDeuxFooter{
		column-gap: 0;
		
	}

	

	.sectionDeuxFooter a, .sectionDeuxFooter p{
		flex: 1;
		text-align: center;
	}

	/* MENU BURGER */


	/* #barre{
		color: white;
		font-size: 20px;
		margin-top: 3px;
	}  */

	.navigationIcon{
		height:2px;
		width: 23px;
		background-color: white;
		display: block;
		transition: transform 0.5s, background-color 0.3s;
	}

	.navigationIcon:first-child{
		margin-bottom: 5px;
	}
	.navigationIcon:last-child{
		margin-top: 5px;
	}

	.menu-icon{
		cursor: pointer;
		margin-top:3px
	}


    .navbar{
		
		overflow: hidden;
		max-height: 0;
		width: 100%;
		background-color: #0c0c0c;
		flex-direction: column;
		margin-top:8px;
	}

	.navbar ul{
		flex-direction: column;
		text-align: center;
		padding: 15px 0;
		
	}

	.menu{
		flex-wrap: nowrap;
	}

	.menu li a{
		font-size: 18px;
	}
	
	#burger:checked~.navbar {
	max-height: 300px;
	
	}

	#burger:checked~.menu-icon .navigationIcon:first-child {
	transform: rotate(45deg);
	margin: 0;
	position: relative;
	top:2px;	
	
	}

	#burger:checked~.menu-icon .navigationIcon:last-child {
	transform: rotate(-45deg);
	margin:0;
	position: relative;
	top:-2px;
	
	}

	#burger:checked~.menu-icon .navigationIcon:nth-child(2) {
	background-color: transparent;
	}

}