@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    color:#1A1A1A;
    margin: 0;
    padding: 0;
}


h1,h2, h3{
    font-family: 'Playfair Display', serif;
}


/* MENU */

header{
    background-image:url("img/bgLampadaire.png");
    height: 100vh;
    background-color:transparent;
    background-size:cover;
    background-repeat: no-repeat;
    padding:0 5%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 25px; 
}

.logoNorthern img{
    width: 170px;
}

.logoNorthern img:hover{
    opacity: 0.8;
    transition: 0.5s;
	
}

.navbar{
    display: flex;
}

.menu{
    display: flex;
    height: 100%;
    align-content: center;
}

.menu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu li:last-child{
    padding: 0px;  
}
.menu li:first-child{
    padding: 0px;  
}

.menu li a{
    color:white;
    font-size: 18px;
    padding:15px 20px;
    transition: 0.5s;
}

.menu li a:hover{
  background-color: #D72424;
}


/* H1 */

.affichageAccueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:75vh;
    justify-content: center;
}

.titreH1{
    flex: 1;
    display: flex; 
	flex-direction : column;
	justify-content:center;
	align-items : center;
	
}

.affichageAccueil h1{
    color: white;
    font-size: 70px;
	font-weight: 300;
}


.decouvrezNosCours{
    padding: 13px 60px;
    border-radius: 50px;
    background-color: #D72424;
    border: none;
	transition : 0.3s;
	margin-top: 30px;
}

.decouvrezNosCours:hover{
    background-color: #7D1515;
}

.decouvrezNosCours a{
    font-size:25px;
    color: white;
}

.sourie{
    width:25px;
	position: relative;
	animation:2s infinite alternate mouse;
}


@keyframes mouse{
	from{
		bottom : 0;
	}
	to{
		bottom:25px;
	}
}


/*MAIN*/

.description{
	max-width: 800px;
	text-align: center;
}

/* NOS VALEURS */


.nosValeurs{
	padding:10% 8%; 
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	text-align: center;
}

h2{
	color: #D72424;
	font-size: 58px;
}

p{
	font-size: 23px;
	text-align: left;
}

.nosValeurs p{
	margin-top:30px;
}


/* NOS COURS */

.nosCours{
	background-color: #EFEFEF;
	display: flex;
	flex-direction:column;
	align-items:center;
	padding: 10% 8%;
}

.containerCard{
	display:grid;
	grid-template:1fr/repeat(3,1fr);
	column-gap: 25px;
	margin-top: 60px;
	max-width:1200px ;
}

.cardNosCours{
	background-color: white;
	display: grid;
	grid-template:auto auto auto auto auto/auto;
	row-gap:15px; 
	padding: 25px;
	border-radius: 30px;
}

h3{
	text-align: center;
}


.cardNosCours h3{
	font-size:28px ;
	color: #D72424;
}

.descriptionCours{
	font-size: 16px;
}

.buttonCard{
	font-size: 18px;
	color: white;
	background-color:#D72424 ;
	border-radius: 50px;
	border: none;
	transition : 0.3s;
	padding: 10px 0;
	font-weight: 600;
}

.buttonCard:hover{
	background-color: #7D1515;
}

.imageCardUn{
	background-image:url("img/bandeDessinée.png");
	height:220px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 30px;
}

.imageCardDeux{
	background-image:url("img/illustration.png");
	height:220px;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
}

.imageCardTrois{
	background-image:url("img/modeleVivant.png");
	height:220px;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
}

/* NOS ENSEIGNANTS */

.nosEnseignants{	
	display: flex;
	flex-direction:column;
	align-items:center;
	padding: 10% 8% 10% 8%;
}
@media screen and (max-width: 1300px){
	.nosEnseignants{
		padding:10% 8% 15% 8% ;
	}
}
@media screen and (max-width: 850px){
	.nosEnseignants{
		padding:10% 8% 20% 8% ;
	}
}


.nosEnseignantsDeux{	
	display: flex;
	flex-direction:column;
	align-items:center;
	background-color: #EFEFEF;
	padding: 0 8%;
}

.containerEnseignants{
	display:grid;
	grid-template:1fr/repeat(3,1fr);
	column-gap: 25px;
	max-width:1200px;
	position: relative;
	bottom: 130px;
}

.enseignantsCards{
	display: grid;
	grid-template:auto /auto;
	row-gap:25px; 
	border-radius: 30px;
}

.enseignantsCards img{
	width: 160px;
	height: auto;
}

.enseignantsAlignement{
	display: flex;
	flex-direction: column;
	align-items: center;
}



.descriptionEnseignants{
	display: grid;
	grid-template:auto /auto;
	row-gap:15px; 
	background-color: white;
	padding: 30px;
	border-radius: 50px;
	
}

h3{
	font-size: 28px;
	color: #D72424;
}

.nosEnseignants .description{
 padding: 50px 0;
}

.titre{
	text-align: center;
}

.nosEnseignantsDeux h2{
	margin-bottom: 80px;
}


